#pipeEnds {
	background-image: url("../images/pipeEnds.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 230px;
	margin-left: 100px;
	margin-right: 100px;
}

#procs {
	background-image: url("../images/procs.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 230px;
	margin-left: 100px;
	margin-right: 100px;
}
